{% extends "layout-add.twig" %}
{% block title %}
    Añade un Idioma
{% endblock %}
{% block form %}
    <form action="/languages/add" method="POST">
        <div class="form-group">
            <label for="language">Idioma</label>
            <input class="form-control" id="language" name="language" placeholder="Ingresa un idioma" required>
        </div>
        <button class="btn btn-primary" type="submit">Añadir idioma</button>
    </form>
{% endblock %}
