{% extends "layout-add.twig" %}

{% block title %}
    A침ade tu Resumen Curricular
{% endblock %}

{% block form %}
    <form action="/curriculum-generator/resume/add" method="POST">
        <div class="form-group">
            <label for="content">Informaci칩n sobre tu perfil laboral</label>
            <textarea class="form-control" id="content" name="content" placeholder="Ingresa tu resumen curricular" required></textarea>
            <small class="form-text text-muted">Informaci칩n como tus intereses, motivaciones, objetivos y rasgos distintivos pueden darte mejor visibilidad</small>
        </div>
        <button class="btn btn-primary" type="submit">A침adir</button>
    </form>
{% endblock %}
