{% extends "layout-add.twig" %}
{% block title %}
    Añadir Habilidades
{% endblock %}
{% block form %}
    <form action="/skills/add" method="POST">
        <div class="form-group">
            <label for="title">Título</label>
            <input class="form-control" id="title" name="title" placeholder="Ingrese su skill" required type="text">
        </div>
        <div class="radio">
            <label for="">Categoría</label>
            <p>
                <label>
                    <input checked class="with-gap" id="frontend" name="category" type="radio" value="1"/>
                    Front-end
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" id="backend" name="category" type="radio" value="2">
                    Back-end
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" id="framework" name="category" type="radio" value="3">
                    Framework
                </label>
            </p>
        </div>
        <button class="btn btn-primary" type="submit">Añadir</button>
    </form>
{% endblock %}
