.jumbotrom {
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 1em;
}

::placeholder {
  color: black;
  opacity: .6 !important;
}

label {
  color: black;
  opacity: .8;
}

textarea{
  margin: .5em 0;
}

.mt-2 {
  margin-top: .5em;
}